.ArticleTitle {
    font-size: 15px;
}

.ArticleWrapper {
    padding-bottom: 15px;
    clear: both;
}

.horizontal {
    width: 50%;
    display: inline-block;
}

.ArticleTags {
}

.ArticleAdmin {
}

.ArticleOther {
    clear: both;
}

    .ArticleOther .categories li, .ArticleTags .categories li {
        display: inline;
    }


/*template-1 inspiration based off https://demo.kairaweb.com/#nikkon */

.template-1 .article-with-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 300px;
    -webkit-filter: grayscale(100%);
}

    .template-1 .article-with-img:hover {
        -webkit-filter: grayscale(0);
    }


.template-1 .article-img img {
    display: none;
}

.template-1 a.article-inner {
   

}

.template-1 a.article-inner-a {

    display: block;
    position: absolute;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

}

    .template-1 a.article-inner-a h3 {
        color: #fff;
        font-size: 1em;
        font-weight: normal;
    }

.template-1 .article-content-inner {
    margin: 15px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    padding: 5px;
}