.ArticleTitle{font-size:15px;}
.ArticleWrapper{padding-bottom:15px;clear:both;}
.horizontal{width:50%;display:inline-block;}
.ArticleTags{}
.ArticleAdmin{margin:0 15px;padding:5px;border:solid 1px #000;display:inline-block}
.ArticleOther{clear:both;}